@model IEnumerable<DVDRental.Models.Copy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var movies = (List<Movie>)ViewData["movies"];
}

<h1>Copies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Copy id</p>
            </th>
            <th>
                <p>Movie title</p>
            </th>
            <th>
                <p>Availability</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @movies.Find(m => item.movieId == m.id).title
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.available)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>